{% extends "base_admin.html" %}

{% block content %}
<div class="welcome-section">
    <h2>Olá, {{ session['username'] }}! 🍻</h2>
    <p>Painel de Gestão - Prosa & Petiscaria</p>
    
    <div class="stats-cards">
        <a href="{{ url_for('gerenciar_usuarios') }}" class="card-link">
            <div class="card">
                <i class="fa fa-users fa-2x"></i>
                <h3>Equipe</h3>
                <p>Cadastrar Garçons</p>
            </div>
        </a>

        <a href="#" class="card-link">
            <div class="card">
                <i class="fa fa-utensils fa-2x"></i>
                <h3>Cardápio</h3>
                <p>Preços e Itens</p>
            </div>
        </a>

        <a href="#" class="card-link">
            <div class="card">
                <i class="fa fa-chart-line fa-2x"></i>
                <h3>Vendas</h3>
                <p>O que mais saiu hoje</p>
            </div>
        </a>
    </div>
</div>
{% endblock %}